---
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title} | My Blog</title>
  </head>
  <body class="bg-base-100 text-base-content">
  <div class="navbar bg-base-100 shadow-sm">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn m-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path> </svg>
      </div>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/blog/">Blog</a></li>
        <!-- <li><a>Lab</a></li> -->
        <!-- <li><a>About</a></li> -->
      </ul>
    </div>
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Lab</a>
    </div>
  </div>
    <main>
      <slot />
    </main>
  </body>
</html>
