---
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title} | My Blog</title>
  </head>
  <body class="bg-base-100 text-base-content">
    <header class="navbar bg-base-200 mb-8 shadow">
      <div class="flex-1 px-4 text-xl font-bold">My Blog</div>
      <div class="flex-none px-4">
        <a href="/" class="btn btn-ghost">Home</a>
        <a href="/blog/" class="btn btn-ghost">Blog</a>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
